body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.selectable{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


ul{
    list-style: none;
    margin: 0px 0px 0px 10px;
    padding: 0px;

}
li{
    padding: 0px;
    margin: 0px;
}

#systemTree{

}

#treeNode .expander{
    float: left;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

#treeNode .content{
    margin-left: 35px;
}

#treeNode .childrenList{
    margin-top: 4px;
    margin-left: 35px;
}
