.knot-example-tabPage{

}

.knot-example-tabPage .page-headerArea .pageHeader{
    border: 1px solid lightgrey;
    border-top-right-radius : 4px;
    border-top-left-radius : 4px;
    min-width: 60px;
    min-height: 20px;

    padding: 2px 5px;
    margin: 0px 1px;
    color:black;
    background-color: whitesmoke;

    display: inline-block;

    cursor: pointer;
}

.knot-example-tabPage .page-headerArea{
    padding-left: 2px;
}
.knot-example-tabPage .page-headerArea .selected{
    /*color:white;*/
    /*background-color: #0381ff;*/
    border-bottom:1px solid whitesmoke;
}

.knot-example-tabPage .page-contentArea{
    border-radius: 2px;
    border:1px solid lightgray;
    margin-top: -1px;
    background-color: whitesmoke;
    padding: 3px;
    overflow: auto;
}

.knot-example-tabPage .page-contentArea>.pageContent{
    display:none;
}
.knot-example-tabPage .page-contentArea .selected{
    display:block
}